body {
  font-family: Ariel, helvetica, sans-serif;
}

h1 {
  color: rgb(64, 96, 175);
  font-size: 127%;
}

.title {
  margin-right: 200px;
}

h2 {
  color: rgb(0, 160, 177);
  font-size: 121%;
}

h3 {
  color: rgb(237, 139, 0);
  font-size: 109%;
  font-weight: bold;
}

h4 {
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}
